<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/200x200">
      insert users name
      date joined 
      current city
      <!-- TODO change to link to specific user -->
      <button class='btn-primary'><%=link_to "Edit profile", '/' %></button>
    </div>
    <div class="col-sm-8">
      <!-- TODO run loop for all posts here -->
      <ul>
        <li>
          post information here
          <button>edit</button>
          <button>delete post</button>
        </li>
      </ul>
    </div>
  </div>
</div>

