<div class="container">
  <div class="row">
    
    <div class="col-sm-6">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-sm-6">
      <h1>Catch Phrase</h1>
      <h3>Text describing site function/purpose</h3>
      <!-- TODO change to link to sign up page -->
      <button class="logged_out btn-primary">Sign Up</button>
    </div>
  
  </div>
</div>