<div class="jumbotron"><h1><%=@city.name%></h1></div>


<div class="container">
  <h2>What do other have to say about this city</h2>

  <ul>
      <!-- list through all the posts made for this city -->
    <li>
    <div class="row">
      <div class="col-sm-3"> 
      <!-- author's image -->
      <img src="<%= @city.image %>">
      <!--  author's name -->
      </div>
      <div class="row">
        <% @posts.each do |post| %>
          <div class='col-sm-7 col-sm-offset-1'>
            <h3><%=post.title%></h3>
            <p><%=post.content%></p>
          </div>
        <% end %>
    </div>
    </li>
  </ul>
</div>