<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, class:"form-control", placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :content, class:"form-control", placeholder: "Content" %>
  </div>
  <%= f.submit "Submit", class:"btn btn-primary btn-lg pull-right" %>
<% end %>