<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/200x200">
      insert author's name
      date joined 
      current city
    </div>
    <div class="col-sm-8">
      <h1>Title of Post<!-- Post Title  --></h1>
      <p><!-- post content -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id placerat lorem. Integer a facilisis massa, gravida efficitur risus. Donec porttitor mi malesuada rhoncus convallis. Praesent sit amet consequat nisi. In id lacus viverra, bibendum lorem at, gravida quam. Donec sit amet mattis metus. Nulla consectetur nisi in cursus sagittis. Phasellus mollis nibh ac mauris pretium, quis rhoncus magna rutrum. Duis id arcu id metus facilisis lobortis. Phasellus condimentum ut turpis id efficitur. Sed ut vulputate justo. Nulla facilisis lacus id nulla finibus, nec mattis eros sollicitudin.YOoooo</p>
    </div>
  </div>
</div>