
//post new
#newPostForm {
	margin: auto;
	
}

#cityDropDown {

}

//post show 
.postImg img{
	max-width: 280px;
	border-radius: 8px;
	box-shadow: 8px 8px 3px #888888;
	margin-bottom: 15px;
}

.pairBtn {
	float: right;
	display: inline;
	margin-right: 5px;
}

