//login page
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #ffffff;
  }
}

.intro {
  height: 85vh;
}

h1{
	font-family: 'Satisfy', cursive;
}