//new user
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #ffffff;
  }
}

.intro {
  height: 85vh;
}

//user profile
.profile_pic img{
	width: 230px;
	max-height: 240px;
	border-radius: 8px;
}


//user profile posts list
ul {
	list-style-type: none;
}

.pairBtn {
	float: right;
	display: inline;
	margin-right: 5px;
}

h1 {
	font-family: 'Satisfy', cursive;

}
