//user profile
.profile_pic img{
	width: 230px;
	max-height: 240px;
	border-radius: 8px;
}


//posts list
ul {
	list-style-type: none;
}

.pairBtn {
	float: right;
	display: inline;
	margin-right: 5px;
}

.well {

}
