//home page
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

}

.logo {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
}


//set sections for proper screen display
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #cef6c3;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #ffffff;
  }
}

.intro {
  height: 100vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}



	

//section 1
#splash {
	background-color: #821919;
	margin-top: -50px;
}

#welcome {
	color: white;
}

#splash_content {
	padding-top: 70px;

}

.btn-primary {
    box-shadow: 0 3px 0 0 #007299;
    border-radius: 5px;
}


//section 2
.city_display{
	padding-top: 20px;
}


#splash .btn {
	display: inline;
	float: right;
	color: white;
}

.thumbnail img{
	max-width: 180px;
	min-height: 160px;
	border-radius: 8px;
	box-shadow: 8px 8px 3px #888888;
	margin-bottom: 15px;

}

//section 3
#splash_map{
	padding-top: 40px;

}

.well {
	border-radius: 8px;
}

#map {
	width: 500px;
	height: 300px;
}
